body {
  margin: 0;
  padding: 0;
  background: var(--bg-white-color);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.app {
  display: flex;
  background: rgb(234, 236, 243);
}
.side-menu {
  width: 200px;
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
.side-menu > a {
  display: block;
  width: 200px;
}
